*{
    box-sizing: border-box;
}
body{
    background: rgb(57, 59, 189) ;
    
}
h1{
    font-family: fantasy;
    color: #fff;
}
.todo-heading{
   text-align: center; 
}

.list-box{
    background: rgb(71, 44, 8);
     
    width: 100%;
    min-height: 60px;
}
.btn-submit{
    background-color: rgb(22, 170, 59);  
    border: none;
    width: 100%;
}
.btn-submit:hover{
    background-color: rgb(18, 151, 51);  
}
.list-box{
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  box-shadow: 5px 5px rgba(37, 35, 165, 0.445);
  background-color: rgb(221, 224, 231);
  
}
.btn-saver{
    display: flex;
    align-items: center;
    padding: 2%;
    
}
.listbox-update{
   padding: 2%;
   
}
.btn-update{
    background: rgb(57, 59, 300);
    border: none;
}
.btn-update:hover{
    background: rgb(57, 59, 189);
}
.listbox-del{
  
}
.btn-title{
    color: rgb(34, 31, 27)    ;
    font-family: Arial, Helvetica, sans-serif;  
    padding: 1%;    
    font-size: larger;
}
