{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container">
<form method="POST">
  {% csrf_token %}
    <div class="mb-3">
      <h1 class="display-1 todo-heading">ToDo</h1>
         {{formkey|crispy}}
    </div>        
    <button type="submit" class="btn btn-primary btn-submit" action=" {% url 'home' %}">Submit</button>
  </form>

<!-- Showing output of list inside div using for loop -->
<br>
{% for i in modelobjectkey %}
<div class="list-box">
<div class="btn-title">
{{ i.title }}
</div>

<!-- adding delete button -->
<div class="btn-saver">
  <div class="listbox-update">
    <a class="btn btn-primary btn-update" href="{% url 'update' i.id %}" role="button">Update</a>
    </div>
  <div class="listbox-del">
  <form method="POST" action=" {% url 'delete' i.id %}"  >
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" >Delete</button>
  </form>
  </div>
  <!-- delete-END --> 
</div>
</div>
<br>
{% endfor %}


<!-- END -->
</div>
{% endblock %}